<div id="desplegable">
    <i class="bi bi-list" (click)="abrirMenu()"></i>
</div>
<div id="menu">
    <div id="opciones">
        <div class="d-flex flex-row justify-content-end m-4">
            <i class="bi bi-x-lg" (click)="cerrarMenu(false)"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <ul class="mt-4">
                <li routerLink="" (click)="cerrarMenu(true)" class="p-1 m-4">Pagina Inicio</li>
                <li routerLink="/gameboy" (click)="cerrarMenu(true)" class="p-1 m-4">Gameboy</li>
                <li routerLink="/IA" (click)="cerrarMenu(true)" class="p-1 m-4">IA Deteccion de Personas</li>
                <li routerLink="/rickMorty/1" (click)="cerrarMenu(true)" class="p-1 m-4">Prueba Rick y Morty API</li>
            </ul>
        </div>
    </div>
</div>