#banner{
    height: 80px;
    background-color: rgb(11, 139, 250);
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#card{
    border-radius: 7px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0px 0px 4px 2px;
    transition: box-shadow 0.3s ease-in-out;
}
#card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px rgb(11, 139, 250);
}
button{
    font-weight: 700;
}
@media (max-width: 450px){
    #card{
        max-width: 80%;
    }
    #card img{
        max-width: 100%;
    }
}
