*{
    font-family: 'gameboy';
}
.seleccionado{
    border: 2px dashed white;
}
.no-seleccionado{
    border: 2px dashed black;
}
.seleccionado,.no-seleccionado{
    max-width: 100%;
    min-width: 100%;
    padding: 0% 5%;
    padding-left: 5%;
    margin-top: 2.5%;
    min-height: 17%;
    max-height: 17%;
    transition: border-color 0.2s linear;
}
#secciones{
    min-height: 85%;
    max-height: 85%;
    min-width: 100%;
    max-width: 100%;
}
#nombreUsuario{
    min-height: 15%;
    max-height: 15%;
    padding: 0% 2.5%;
}
#nombreUsuario label{
    margin-bottom: 0.5%;
}
#noUsuario{
    color: red;
    font-weight: 700;
}
@media (max-width: 750px){
    #nombreUsuario{
        font-size: small;
    }
}
@media (max-width: 600px){
    #nombreUsuario{
        font-size: 12.5px;
    }
}
@media (max-width: 500px){
    #nombreUsuario{
        font-size: 10.5px;
    }
}
@media (max-width: 430px){
    #nombreUsuario{
        font-size: 9.5px;
    }
}
@media (max-width: 410px){
    #nombreUsuario{
        font-size: 8.5px;
    }
    #secciones{
        font-size: 14px;
    }
}
@media (max-width: 360px){
    #nombreUsuario{
        font-size: 7px;
    }
    #secciones{
        font-size: 10.5px;
    }
}
@media (max-width: 275px){
    #nombreUsuario{
        font-size: 6.5px;
    }
    #secciones{
        font-size: 9px;
    }
}