<div id="content">
    <div id="iphone">
        <div id="buttons">
            <div id="left">
                <div id="button"></div>
                <div id="button"></div>
                <div id="button"></div>
            </div>
            <div id="right">
                <div (click)="encender()" id="button"></div>
            </div>
        </div>
        <div *ngIf="encendido" id="notch-container">
            <div id="notch">
                <div id="camera">
                    <div></div>
                </div>
                <div id="notch-content">
                    <h1>{{horaLocal}}</h1>
                </div>
            </div>
        </div>
        <div id="pantalla">
            <img id="fondoPantalla" src="../../../assets/images/fondoPantallaIphone.jpg" alt="">
            <div id="apps">
                <div (click)="agrandar(1)" class="appBox" id="1">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="2">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="3">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="4">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="5">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="6"></div>
                <div class="appBox" id="7"></div>
                <div class="appBox" id="8"></div>
            </div>
            <div id="dock">

            </div>
            <div id="oscuro"></div>
        </div>
    </div>
</div>