<div id="content">
    <div id="iphone">
        <div id="buttons">
            <div id="left">
                <div id="button"></div>
                <div id="button"></div>
                <div id="button"></div>
            </div>
            <div id="right">
                <div (click)="encender()" id="button"></div>
            </div>
        </div>
        <div *ngIf="encendido" id="notch-container">
            <div id="notch">
                <div id="camera">
                    <div></div>
                </div>
                <div id="notch-content">
                    <h1>{{horaLocal}}</h1>
                </div>
            </div>
        </div>
        <div id="pantalla">
            <img id="fondoPantalla" src="../../../assets/images/fondoPantallaIphone.jpg" alt="">
            <div id="apps">
                <div (click)="abrirApp(1)" class="appBox" id="app1">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="app2">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="app3">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="app4">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div (click)="abrirApp(5)" class="appBox" id="app5">
                    <img src="../../../assets/images/iphone_apps/notas.png" alt="">
                </div>
                <div class="appBox" id="app6"></div>
                <div class="appBox" id="app7"></div>
                <div class="appBox" id="app8"></div>
            </div>
            <div id="dock">

            </div>
            <div id="oscuro"></div>
        </div>
    </div>
    <app-app-container *ngIf="dentroApp" [appData]="appData" [pantallaData]="pantallaData"></app-app-container>
</div>