*{
    font-family: 'pokemonPixel2';
}
.pantalla-completa{
    height: 120%;
}
.no-pantalla-completa{
    height: 100%;
}
#banner{
    top: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 15%;
    min-height: 15%;
    margin-top: 1.4%;
    background-image: linear-gradient(
        rgb(32, 104, 224) 0,
        rgb(32, 104, 224) 8px,
        rgb(72, 144, 248) 8px,
        rgb(72, 144, 248) 12px,
        rgb(32, 104, 224) 12px,
        rgb(32, 104, 224) 15px,
        rgb(72, 144, 248) 15px,
        rgb(72, 144, 248) 17px,
        rgb(32, 104, 224) 17px,
        rgb(32, 104, 224) 20px,
        rgb(72, 144, 248) 20px,
        rgb(72, 144, 248) 28px
  );
  font-size: 13px;
}
#banner label{
    margin-left: 5%;
}
#content{
    max-width: 100%;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
}
#card{
    max-width: 100%;
    min-width: 100%;
    max-height: 85%;
    min-height: 85%;
    margin-top: 12.7%;
}
#fondoImg{
    width: 40%;
    background-color: rgb(200, 208, 192);
    border-radius: 0px 0px 0px 10px;
}
#fondoInfo{
    height: 100%;
    width: 60%;
    border: 1.5px solid black;
    background-color: rgba(112, 184, 112, 0.939);
    border-radius: 0px 0px 10px 0px;
    font-size: 9.5px;
}
#fondoInfo label{
    margin-right: 1%;
    font-weight: 900;
    text-wrap: wrap;
}
#clarito{
    background-color: rgb(128, 216, 136);
}
#cartaImg{
    margin: 0% 5%;
    margin-top: 10%;
    width: 90%;
    z-index: 4;
}
#fondoCarta{
    width: 80%;
    height: 70%;
    margin: 0% 10%;
    margin-top: 15%;
    padding-top: 0.5%;
    z-index: 4;
    background-image: repeating-linear-gradient(
        transparent,
        transparent 1px,
        rgb(228, 232, 217) 2px,
        rgb(228, 232, 217) 3px
      );
      border-radius: 10px;
}
#fondoCartaAzul{
    width: 70%;
    height: 85%;
    margin-left: 15%;
    margin-top: 8%;
    z-index: 4;
    background-image: repeating-linear-gradient(
        transparent,
        transparent 1px,
        rgb(177, 198, 241) 2px,
        rgb(177, 198, 241) 3px
      );
      border-radius: 37%;
}
#datosImg{
    z-index: 4;
    padding: 2% 10%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: -10%;
    border-radius: 17px;
}
#datosImg label{
    font-size: 9px;
}
img{
    width: 210%;
    margin-left: -51%;
    margin-top: -45%;
    z-index: 5;
}
#nombre{
    min-width: 100%;
    max-width: 100%;
    text-wrap: wrap;
    padding: 2%;
    border: 1.5px solid rgb(32, 104, 224);
    background-color: rgb(72, 144, 248);
    border-radius: 12px 12px 0 0;
}
#lvl{
    min-width: 100%;
    max-width: 100%;
    text-wrap: wrap;
    padding: 1% 2%;
    border: 1.5px solid rgb(197, 203, 214);
    background-color: white;
    border-radius: 0 0 12px 12px;
    color: black;
}
#type{
    border: 1.5px solid black;
    margin: 2% 3%;
    font-weight: 600;
}
.div-info{
    max-width: 90%;
    min-width: 90%;
    margin: 0% 5%;
}
#flecha{
    background-color: white;
    width: 88%;
    border-top: 1.5px solid rgb(197, 203, 214);
    border-bottom: 1.5px solid rgb(197, 203, 214);
    border-radius: 10px;
}
#flecha label{
    text-align: center;
    color: black;
    font-size: 9px;
}
#flecha i{
    font-size: 13px;
    font-weight: 700;
    padding: 0% 3%;
    border: 1.5px solid rgb(32, 104, 224);
}
#divTipo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.bi-arrow-left{
    margin-left: -6%;
    border-radius: 10px 0 0 10px;
}
.bi-arrow-right{
    margin-right: -5.5%;
    border-radius: 0 10px 10px 0;
}
@media (max-width: 460px){
    #flecha{
        margin-top: -10%;
    }
}
@media (max-width: 380px){
    #banner{
        font-size: 11px;
    }
    img{
        width: 185%;
        margin-top: -38%;
        margin-left: -40%;
    }
    #datosImg label{
        font-size: 7.5px;
    }
    #datosImg{
        margin-top: -1.5%;
        margin-bottom: -22%;
    }
    #fondoCarta{
        margin-top: 20%;
        margin-bottom: 1%;
    }
    #flecha{
        margin-top: -5%;
    }
    #fondoInfo{
        font-size: 7.5px;
    }
}
@media (max-width: 325px){
    #banner{
        font-size: 9.5px;
    }
    img{
        width: 170%;
        margin-left: -32%;
        margin-top: -30%;
        margin-bottom: 2%;
    }
    #datosImg{
        margin-top: 8%;
        margin-bottom: -5%;
    }
    #fondoInfo div{
        font-size: 6px;
    }
    #divTipo{
        flex-direction: row;
    }
    #flecha{
        margin-top: -12%;
        margin-bottom: 8%;
    }
    #fondoCarta{
        height: 80%;
        margin-top: 0%;
        margin-bottom: 5%;
    }
}