*{
    font-family: 'pokemonPixel2';
}
#banner{
    top: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 15%;
    min-height: 15%;
    margin-top: 1.4%;
    background-image: linear-gradient(
        rgb(32, 104, 224) 0,
        rgb(32, 104, 224) 8px,
        rgb(72, 144, 248) 8px,
        rgb(72, 144, 248) 12px,
        rgb(32, 104, 224) 12px,
        rgb(32, 104, 224) 15px,
        rgb(72, 144, 248) 15px,
        rgb(72, 144, 248) 17px,
        rgb(32, 104, 224) 17px,
        rgb(32, 104, 224) 20px,
        rgb(72, 144, 248) 20px,
        rgb(72, 144, 248) 28px
  );
  font-size: 13px;
}
#banner label{
    margin-left: 5%;
}
#content{
    max-width: 100%;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
}
#card{
    max-width: 100%;
    min-width: 100%;
    max-height: 85%;
    min-height: 85%;
    margin-top: 12.7%;
}
#fondoImg{
    width: 40%;
    background-color: rgb(200, 208, 192);
    border-radius: 0px 0px 0px 10px;
}
#fondoInfo{
    width: 60%;
    border: 1.5px solid black;
    background-color: rgba(112, 184, 112, 0.939);
    border-radius: 0px 0px 10px 0px;
    font-size: 10.5px;
}
#fondoInfo label{
    margin-right: 1%;
    text-wrap: wrap;
}
#clarito{
    background-color: rgb(128, 216, 136);
}
#cartaImg{
    margin: 0% 5%;
    margin-top: 10%;
    width: 90%;
    z-index: 4;
}
#fondoCarta{
    width: 80%;
    height: 70%;
    margin: 0% 10%;
    margin-top: 15%;
    padding-top: 0.5%;
    z-index: 4;
    background-image: repeating-linear-gradient(
        transparent,
        transparent 1px,
        rgb(228, 232, 217) 2px,
        rgb(228, 232, 217) 3px
      );
      border-radius: 10px;
}
#fondoCartaAzul{
    width: 70%;
    height: 85%;
    margin-left: 15%;
    margin-top: 8%;
    z-index: 4;
    background-image: repeating-linear-gradient(
        transparent,
        transparent 1px,
        rgb(177, 198, 241) 2px,
        rgb(177, 198, 241) 3px
      );
      border-radius: 37%;
}
#datosImg{
    z-index: 4;
    padding: 2% 10%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: -10%;
    border-radius: 17px;
}
#datosImg label{
    font-size: 9px;
}
img{
    width: 210%;
    margin-left: -51%;
    margin-top: -45%;
    z-index: 5;
}
#nombre{
    min-width: 100%;
    max-width: 100%;
    text-wrap: wrap;
    padding: 2%;
    border: 1.5px solid rgb(32, 104, 224);
    background-color: rgb(72, 144, 248);
    border-radius: 12px 12px 0 0;
}
#lvl{
    min-width: 100%;
    max-width: 100%;
    text-wrap: wrap;
    padding: 1% 2%;
    border: 1.5px solid rgb(197, 203, 214);
    background-color: white;
    border-radius: 0 0 12px 12px;
    color: black;
}
#type{
    border: 1.5px solid black;
    margin: 2% 3%;
    font-weight: 600;
}
.div-info{
    max-width: 90%;
    min-width: 90%;
    margin: 0% 5%;
}
@media (max-width: 350px){
    #datosImg label{
        font-size: 7.5px;
    }
    #datosImg{
        margin-top: 5%;
    }
}