*, html{
    font-family: sans-serif;
    background-color: #11293c;
    color: #f7fafc;
    scroll-behavior: smooth;
}
header{
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 4;
}
header a{
    margin: 0% 2%;
    text-wrap: nowrap;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid transparent;
}
header a:hover{
    border-bottom: 3px solid #4299E1;
    border-radius: 3px;
}
#contenido{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#contentCard{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: auto;
    padding-bottom: 7%;
    position: relative;
}
#card{
    z-index: 4;
    width: 20%;
    border-radius: 7px;
    margin-left: 20%;
    margin-right: 2.5%;
    transition: 0.25s padding ease-in-out,0.3s transform ease-in-out, 0.3s width ease-in-out, 0.3s height ease-in-out;
    cursor: pointer;
}
#card img, #card a{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#card img{
    display: block;
    transition: 0.4s transform ease-in-out, 0.4s width ease-in-out, 0.4s height ease-in-out;
}
#card:hover,#textCard i:hover{
    padding: 0.6%;
    z-index: 5;
}
#textCard{
    width: 47.5%;
    height: 100%;
    align-items: flex-start;
}
#textCard div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#textCard i{
    font-size: 190%;
    cursor: pointer;
    transition: 0.25s padding ease-in-out, 0.3s transform ease-in-out, 0.3s margin-left ease-in-out, 0.3s margin-top ease-in-out;
}
.rotated {
    transform: rotate(45deg);
    margin-left: 80%;
}
h3{
    color: #4299E1;
    font-weight: 600;
}
.info-container {
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.info-text {
    position: absolute;
    left: -100%;
    max-width: 75%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: 0.3s left ease-in-out;
    padding: 10px;
}
.info-container.active .info-text {
    left: 0;
}
.hidden, .hidden a{
    display: none;
}
.open{
    transform: scale(3.5);
    width: 100vw;
    height: 100vh;
}
.open-card{
    transform: translate(19vw, 25vh);
}
@media (max-width: 970px) {
    #card{
        width: 25%;
    }
    #textCard{
        width: 42.5%;
    }
}
@media (max-width: 665px) {
    #contenido{
        position: static;
        height: max-content;
    }
    #contentCard{
        flex-direction: column;
        width: 100%;
        padding-bottom: 5%;
    }
    #card, #textCard{
        width: 60%;
        margin: 0% 20%;
    }
    #textCard{
        margin-top: 5%;
    }
    h3{
        text-align: center;
    }
    #textCard, #textCard div{
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .info-container{
        position: relative;
        flex-direction: column;
        min-height: 80%;
    }
    .info-text {
        position: none;
        margin-top: -80%;
        bottom: 0;
        display: none;
        transition: 0.3s margin-top ease-in-out;
    }
    #textCard i{
        position: static;
        top: 0;
    }
    #textCard i.rotated {
        position: relative;
        margin-left: 0;
        margin-top: 2%;
        background-color: #11293c00;
    }
    .info-container.active .info-text {
        margin-top: 0;
        position: static;
    }
    .open{
        transform: scale(2.5);
    }
    .open-card{
        transform: translate(0, 25vh);
    }
}