*, html{
    font-family: sans-serif;
    background-color: #11293c;
    color: #f7fafc;
}
header{
    height: 80px;
    background-color: transparent;
}
header a{
    margin: 0% 2%;
    text-wrap: nowrap;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid transparent;
}
header a:hover{
    border-bottom: 3px solid #4299E1;
    border-radius: 3px;
}
#contenido{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#card{
    width: 25%;
    padding: 0% 5%;
    border-radius: 7px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-shadow: 0px 0px 4px 2px;
    transition: box-shadow 0.3s ease-in-out;
}
img{
    max-height: 350px;

}
.hidden, .hidden a{
    display: none;
}
@media (max-width:1200px){
    #card{
        width: 40%;
    }
}
@media (max-width:700px){
    #card{
        width: 60%;
        margin: 5% 20%;
        padding: 0%;
    }
    img{
        width: 55%;
        height: auto;
    }
    p{
        padding: 0% 5%;
    }
}