*{
    font-family: 'gameboy';
}
.pantalla-completa{
    height: 120%;
}
.no-pantalla-completa{
    height: 100%;
}
.seleccionado-log-in{
    border: 2px dashed white;
}
.no-seleccionado-log-in{
    border: 2px dashed black;
}
#contentLogIn{
    max-width: 100%;
    min-width: 100%;
    max-height: 101%;
    min-height: 101%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
}
.opcionLogIn{
    max-width: 90%;
    min-width: 90%;
    max-height: 10%;
    min-height: 10%;
    margin: 0% 5%;
    margin-bottom: 0.5%;
}
h2{
    max-width: 100%;
    min-width: 100%;
    max-height: 15%;
    min-height: 15%;
    margin-bottom: 1.5%;
    padding: 2% 0%;
    border-top: 1.5px dashed black;
    border-bottom: 1.5px dashed black;
}
button{
    max-width: 45%;
    min-width: 45%;
    max-height: 100%;
    min-height: 100%;
    margin: 0% 2.5%;
    font-size: 20px;
    padding: 2% 1%;
    transition: border 0.2s linear;
}
#correcto{
    color: greenyellow;
}
#error{
    color: red;
}
@media (max-width: 830px){
    button{
        font-size: 16.5px;
    }
}
@media (max-width: 700px){
    button{
        font-size: 14.5px;
    }
    #mensaje{
        font-size: 15px;
        margin-top: 0.5%;
    }
}
@media (max-width: 625px){
    button{
        font-size: 12px;
    }
    .opcionLogIn, #mensaje{
        font-size: 13px;
    }
}
@media (max-width: 530px){
    button{
        padding: 5.5% 3%;
        text-align: center;
    }
    .opcionLogIn, #mensaje{
        font-size: 11.5px;
    }
    h2{
        font-size: 17.5px;
    }
}
@media (max-width: 460px){
    #mensaje{
        font-size: 10px;
    }
}
@media (max-width: 390px){
    button{
        font-size: 10px;
    }
    .opcionLogIn{
        font-size: 9.5px;
    }
    #mensaje{
        font-size: 8.5px;
    }
    
}
@media (max-width: 340px){
    button{
        font-size: 8px;
        margin-top: -1.5%;
    }
    .opcionLogIn, #mensaje{
        font-size: 7.5px;
    }
    #mensaje{
        margin-top: -1.5%;
    }
    h2{
        font-size: 14px;
    }
}