*{
    font-family: 'gameboy';
}
.encender-animation {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(132, 153, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 5;
  }
  
  h2 {
    margin-top: -100%;
    animation: aparecerDesdeArriba 3s ease-out forwards;
  }
  
  @keyframes aparecerDesdeArriba {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 0%;
    }
  }