*, html{
    font-family: sans-serif;
    background-color: #11293c;
    color: #f7fafc;
    scroll-behavior: smooth;
}
#content{
    position: static;
    min-height: calc(100vh - 80px);
    height: auto;
    max-height: max-content;
    width: 100%;
    top: 0;
    bottom: 0;
    padding-bottom: 80px;
    margin-top: 80px;
    padding: 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#flex{
    height: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 80px 8%;
    padding: 1% 5%;
    box-shadow: 0px 0px 4px 2px white;
}
#img{
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 10%;
    max-width: 50%;
    max-height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
}
#img img {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 7px;
}
#datos label{
    padding: 1%;
}
#datos label:first-child, #input, button{
    background-color: #1785df;
    border: 1px solid #f7fafc;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
}
input[type="file"] {
    display: none;
}
#datos{
    width: 50%;
    max-width: 50%;
    padding-right: 10%;
}
#predictions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 10%;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 7px;
}
#predict{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50%;
    background-color: white;
    color: black;
    border: 1px solid white;
}
#predict:first-child{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 2px solid #11293c;
}
#predict:nth-child(2){
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#predict label{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#predict i{
    border-right: 1.5px solid #11293c;
    padding-right: 5%;
    width: 20%;
    margin-left: 5%;
    width: auto;
}
#predict i,#predict label{
    color: black;
    background-color: white;
    height: 100%;
}
#ampliar{
    background-color: rgb(0, 0, 0, 0.2);
}
.input-group input{
    background-color: white;
}
#addon-wrapping button:first-child{
    border-radius: 0;
    background-color: transparent;
    border-top-right-radius: 7px;
}
#addon-wrapping button{
    border-radius: 0;
    border-bottom-right-radius: 7px;
    background-color: transparent;
}
input.form-control{
    color: black;
    font-weight: 600;
}
#img label{
    transition: 0.1s border-bottom linear;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
#img label:hover{
    border-bottom: 3px solid #4299E1;
    border-radius: 3px;
}

@media (max-width: 750px) {
    #flex{
        position: relative;
        top: 0;
        bottom: 0;
        flex-direction: column;
        width: 100%;
        padding-bottom: 5%;
        height: auto;
        max-height: max-content;
    }
    #datos{
        padding-bottom: 10%;
        width: 60%;
        max-width: 60%;
    }
    #img{
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
        padding-top: 10%;
        margin-left: 0;
        border-left: 0;
        border-top: 2px solid white;
    }
}