#content{
    top: 0;
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: calc(100% - 80px);
}
#img{
    max-width: 80%;
    width: auto;
    margin: 0% 10%;
    margin-top: 10%;
    height: auto;
}
#img img{
    object-fit: contain;
}
input[type="file"] {
    display: none;
}