<div id="content">
    <div id="flex">
        <form class="h-100 d-flex flex-column justify-content-center align-items-center" method="post" enctype="multipart/form-data">
            <label class="mt-2 mb-2">Seleccionar Archivo<input (change)="cambiarImg()" type="file" name="imagen" value="Seleecionar Archivo" accept=".jpg"></label>
            <input *ngIf="archivo" class="mb-2" (click)="predecirImg(1)" type="submit" value="Ver Prediccion">
            <input *ngIf="archivo" class="mb-2" (click)="predecirImg(2)" type="submit" value="Ver Contorno">
        </form>
        <div class="text-center" id="img">
            <img src="{{src}}" alt="">
            <strong *ngIf="archivo"><label>{{archivo.name}}</label></strong>
        </div>
    </div>
</div>
