<header class="d-flex flex-column justify-content-center">
    <div class="w-100 h-100 d-flex flex-row justify-content-around align-items-center text-center">
        <h2>{{title}}</h2>
        <div class="w-50 d-flex flex-row justify-content-end" [ngClass]="{'hidden': isMobile}">
            <a routerLink="">Pagina Inicio</a>
            <a routerLink="/rickMorty/1">Rick Y Morty</a>
            <a routerLink="/gameboy">Gameboy</a>
            <a routerLink="/IA">IA Detection</a>
        </div>
        <app-menu [ngClass]="{'hidden': !isMobile}"></app-menu>
    </div>
</header>