/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:'pokemon';
    src: url(./assets/fonts/PokemonSolid.ttf) format("truetype");
  }
  @font-face {
    font-family:'pokemonPixel';
    src: url(./assets/fonts/pokemon_pixel_font.ttf) format("truetype");
  }
  @font-face {
    font-family:'pokemonPixel2';
    src: url(./assets/fonts/Pokemon_GB.ttf) format("truetype");
  }