<div class="w-100" id="banner">
    <div class="d-flex justify-content-center align-items-center">
        <h2 class="mt-4">Gameboy</h2>
    </div>
</div>
<div id="contentPantalla" class="w-100 h-100 d-flex flex-column justify-content-center align-items-center position-relative">
    <button class="w-100 btn btn-danger m-4">ENCENDER/APAGAR</button>
    <div id="imagen" class="w-100 h-100 mb-2">
        <div class="no-pantalla-completa" id="pantalla">
            <div class="w-100 h-100" id="elementosPantalla">
                <app-menu-principal *ngIf="menuPrincipal"></app-menu-principal>
                <app-animacion-encender id="opacidad" *ngIf="encender"></app-animacion-encender>
                <app-animacion-apagar id="opacidad" *ngIf="apagar"></app-animacion-apagar>
            </div>
        </div>
        <div (touchstart)="touchStartListener('ClickArrowUp', $event)" (touchend)="desactivarAnimacion()" (click)="activarAnimacion('ClickArrowUp')" id="arriba">
        </div>
        <div (touchstart)="touchStartListener('ClickArrowDown', $event)" (touchend)="desactivarAnimacion()" (click)="activarAnimacion('ClickArrowDown')" id="abajo">
        </div>
        <div (touchstart)="touchStartListener('ClickArrowLeft', $event)" (touchend)="desactivarAnimacion()" (click)="activarAnimacion('ClickArrowLeft')" id="izquierda">
        </div>
        <div (touchstart)="touchStartListener('ClickArrowRight', $event)" (touchend)="desactivarAnimacion()" (click)="activarAnimacion('ClickArrowRight')" id="derecha">
        </div>
        <div (click)="activarAnimacion('ClickEnter')" id="adelante">
        </div>
        <div (click)="activarAnimacion('ClickBackspace')" id="atras">
        </div>
        <img class="w-100 h-100 img-fluid" src="../../../assets/images/gameboy.png" alt="">
    </div>
</div>