#pantalla{
    position: absolute;
    color: rgb(34, 40, 23);;
    border-radius: 0px 0px 10px 10px;
    z-index: 3;
    background-color: black;
    transition: background-color 0.6s ease-in-out;
}
.no-pantalla-completa{
    padding: 30% 44%;
    margin: 20.5% 6.2%;
    max-width: 44%;
    max-height: 30%;
    min-height: 0%;
    min-width: 0%;
}
.pantalla-completa{
    padding: 0%;
    min-width: 100%;
    min-height: 90%;
    max-width: 100%;
    max-height: 90%;
    margin: 0%;
}
#elementosPantalla{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
#opacidad{
    opacity: 1;
}
#contentPantalla{
    padding-top: 1%;
    margin-top: 80px;
    background-color: #11293c;
}
#arriba{
    margin: 102.5% 14.8%;
    border-radius: 7px 7px 1px 1px;
}
#abajo{
    margin: 119% 14.8%;
    border-radius: 1px 1px 7px 7px;
}
#derecha{
    margin: 110.6% 23.4%;
    border-radius: 1px 7px 7px 1px;
}
#izquierda{
    margin: 110.6% 6.2%;
    border-radius: 7px 1px 1px 7px;
}
#adelante{
    margin: 103.7% 81.5%;
}
#atras{
    margin: 111.7% 64.5%;
}
#adelante,#atras{
    background-color: white;
    border-radius: 100%;
    padding: 6.3%;
    position: absolute;
    z-index: 4;
    max-width: 6.3%;
    max-height: 6.3%;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}
#arriba,#abajo,#izquierda,#derecha{
    background-color: white;
    position: absolute;
    padding: 4.7%;
    z-index: 4;
    max-width: 4.7%;
    max-width: 4.7%;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    touch-action: none;
    user-select: none;
    user-zoom: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.img-fluid{
    touch-action: none;
    user-select: none;
    user-zoom: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}