*{
    font-family: 'pokemonPixel2';
}
.no-pantalla-completa{
    height: 100%;
}
#contentCombateCPU{
    max-width: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
}
#lado{
    width: 47%;
}
.arriba img{
    display: block;
    height: auto;
    max-height: 80%;
    margin-bottom: -8%;
    z-index: 3;
}
.abajo img{
    display: block;
    height: auto;
    max-height: 82.5%;
    margin-bottom: -8%;
    z-index: 3;
}
#plataforma{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 17.5%;
    margin-left: 10%;
    background-color: rgb(202, 202, 202);
    border: 2.5px solid black;
    border-radius: 50%;
    z-index: 2;
}

.abajo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 95%;
    margin-bottom: 2.5%;
}
.arriba{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 95%;
}
#infoPokemon{
    height: auto;
    width: 100%;
    max-height: 30%;
    height: auto;
    font-size: small;
    font-weight: 900;
    margin-bottom: 2%;
    display: block;
    z-index: 3;
}
.arriba #img{
    max-height: 70%;
    height: 70%;
}
.abajo #img{
    max-height: 75%;
    height: 75%;
}
.barra-salud {
    width: 90%;
    min-height: 15%;
    background-color: black;
    border-radius: 9px;
    padding: 0% 1.2%;
    border: 2px solid black;
    color: red;
    font-weight: 700;
    overflow: hidden;
    transition: width 0.5s linear;
}
#infoPokemon p{
    margin: 0%;
    margin-bottom: 1%;
}
.barra-salud p{
    margin: 0%;
}
#contenidoPokemon{
    height: 60%;
}
#menu{
    background-color: rgba(252, 255, 252, 0.85);
    padding: 2%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    border-top: 2.5px solid #7C7F7A;
}
.seccion-combate{
    border: 2.5px solid #D0C6C1;
    outline: 2.5px solid #7C7F7A;
    outline-offset: 0;
    border-radius: 8px;
    font-weight: 900;
    display: block;
    z-index: 4;
    font-size: large;
    text-align: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.seccion-luchar{
    border: 2.5px solid #D0C6C1;
    outline: 2.5px solid #7C7F7A;
    outline-offset: 0;
    border-radius: 8px;
    font-weight: 900;
    display: block;
    z-index: 4;
    font-size: large;
    text-align: center;
    align-items: center;
}
.movimiento{
    width: 80%;
    height: 90%;
    background-color: #F0EBDD;
    border-radius: 8px;
    display: block;
    font-size: medium;
}
.tipo{
    border: 1px solid #F0EBDD;
    border-radius: 6px;
    font-weight: 900;
    text-align: center;
    align-items: center;
}
#luchar{
    background-color: #FA5664;
}
#bolsa{
    background-color: #FCB754;
}
#cambiar{
    background-color: #82CC47;
}
#salir{
    background-color: #42ADD6;
}
.seleccionado-combate,.no-seleccionado-combate{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.seleccionado-combate{
    background-image: url(../../../../assets/images/seleccionado.png);
    padding: 0.5%;
}
.no-seleccionado-combate{
    background-image: none;
    padding: 0%;
}
@media (max-width: 800px){
    .seccion{
        font-size: medium;
    }
}
@media (max-width: 670px) {
    #infoPokemon p{
        font-size: 10.5px;
    }
}
@media (max-width: 555px) {
    #infoPokemon p{
        font-size: 9px;
    }
}
@media (max-width: 490px) {
    #infoPokemon p{
        font-size: 7.5px;
    }
}
@media (max-width: 440px){
    .seccion-combate{
        font-size: x-small;
    }
}