*, html{
    font-family: sans-serif;
    color: #f7fafc;
}
#contentSpinner{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 80px;
    max-width: 100%;
    max-height: calc(100% - 80px);
    flex-wrap: wrap;
    color: black;
    font-weight: 700;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.1);
}
#mensaje{
    font-size: large;
    text-align: center;
    align-items: center;
}
@media (max-width: 700px){
    #mensaje{
        font-size: medium;
    }
}
@media (max-width: 490px) {
    #mensaje{
        font-size: small;
    }
}
@media (max-width: 420px){
    #mensaje{
        font-size: x-small;
    }
}
@media (max-width: 320px){
    #mensaje{
        font-size: xx-small;
    }
}